# Site settings
title: "Cerb"
company: "Webgroup Media, LLC."
copyright: 2002-2018
email: team@cerb.ai
description: >
  Take control of your overflowing inbox. Improve response times and customer satisfaction with personalized workspaces, real-time dashboards, and bot-powered automation.
url: "https://cerb.ai"
baseurl: ""
logo_url: /assets/cerb_logo.png
social_image_url: /assets/images/cerb-social.png
facebook_username: cerb.app
twitter_username: cerb_ai
github_username:  wgm
timezone: America/Los_Angeles
encoding: utf-8

# Blog
permalink: /blog/:year/:month/:day/:title/
excerpt_separator: ""

# Collections
collections:
  docs:
    output: true
    permalink: /docs/:path/
  guides:
    output: true
    permalink: /guides/:path/
  packages:
    output: true
    permalink: /packages/:path/
  plugins:
    output: true
    permalink: /plugins/:path/

# Build settings
markdown: kramdown
kramdown:
  auto_ids: true
  parse_block_html: false
plugins:
  - jekyll-redirect-from

# Defaults
defaults:
  -
    scope:
      path: ""
      type: "docs"
    values:
      layout: "docs"
      jumbotron:
        title: Documentation
  -
    scope:
      path: ""
      type: "guides"
    values:
      layout: "integration"
  -
    scope:
      path: ""
      type: "packages"
    values:
      layout: "integration"
  -
    scope:
      path: ""
      type: "plugins"
    values:
      layout: "integration"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "posts"
      jumbotron:
        title: Blog
        tagline: Release announcements, helpful tips, and community discussion
