---
layout: page
title: "Blog"
permalink: /blog/
jumbotron:
  title: Blog
  tagline: Release announcements, helpful tips, and community discussion
---

{% include testimonials.html %}

<div class="blog">
	{% assign last_section = '' %}
	{% for post in site.posts %}
		{% assign section = post.date | date: "%B %Y" %}
		
		{% if section != last_section %}
			{% if last_section != '' %}
			</ul>
			{% endif %}
		
			<h2>{{ section }}</h2>
			
			<ul class="blog-post-group">
		{% endif %}
		
		<li>
			<a href="{{ post.url }}">{{ post.title }}</a>
		</li>
		
		{% if forloop.last %}
		</ul>
		{% endif %}
		
		{% assign last_section = section %}
	{% endfor %}
</div>
