---
layout: page
title: "Workflow Examples"
permalink: /examples/
redirect_from: /cookbook/
redirect_from: /integrations/
jumbotron:
  title: Workflow Examples
  tagline: Cerb automates and integrates with many apps and services that you're already using
---

<div class="integrations">

<div class="grid no-gutters">
	{% for integration in site.integrations %}
		{% if integration.integrate.state != "draft" %}
		<div class="cerb-integration unit one-third">
			<a href="{{ integration.url }}">{{ integration.title }}</a>
			<div>{{ integration.integrate.what }}</div>
		</div>
		{% endif %}
	{% endfor %}
</div>

</div>