---
layout: page
title: "Guides"
permalink: /guides/
redirect_from:
  - /cookbook/
  - /integrations/
jumbotron:
  title: Guides
  tagline: Master Cerb with step-by-step instructions
---

<div class="integrations">
	{% assign topics = site.guides | group_by: 'topic' %}
	
	{% for topic in topics %}
		<h1>{{ topic.name }}</h1>
		
		{% if topic.name == 'Integrations' %}
			{% assign subtopics = topic.items | group_by: 'subtopic' %}
		
			<div style="margin-left:15px;">
			{% for subtopic in subtopics %}
				<h2>{{ subtopic.name }}</h2>
		
				<ul class="articles">
				{% for guide in subtopic.items %}
					<li>
						<a href="{{ guide.url }}">{{ guide.title }}</a>
					</li>
				{% endfor %}
				</ul>
			{% endfor %}
			</div>
		
		{% else %}
			<ul class="articles">
			{% for guide in topic.items %}
				<li>
					<a href="{{ guide.url }}">{{ guide.title }}</a>
				</li>
			{% endfor %}
			</ul>
		{% endif %}
		
	{% endfor %}
	
	<h1>Tips</h1>
	
	<ul class="articles">
	
	{% assign posts = site.posts | sort: 'title' %}
	{% for post in posts %}
	{% if post.tags contains 'tips' %}
	<li>
		<a href="{{ post.url }}">{{ post.title | remove_first: "Tip: " }}</a>
	</li>
	{% endif %}
	{% endfor %}

	</ul>
	
</div>