<div class="feature" style="text-align:center">
    <h2>Subscribe to our newsletter</h2>
    <div>Email notifications for Cerb new version announcements, workflow templates, how-to guides, and developer logs.</div>
    <form
            action="https://buttondown.com/api/emails/embed-subscribe/cerb"
            method="post"
            target="popupwindow"
            onsubmit="window.open('https://newsletter.cerb.ai', 'popupwindow')"
            class="embeddable-buttondown-form">
        <label for="bd-email"><b>Email:</b> </label>
        <input type="email" name="email" id="bd-email" placeholder="you@example.com" size="45" />

        <input type="submit" value="Subscribe" />
    </form>
</div>
