<footer>

	<div class="wrapper">
		
		<div class="grid">
			<div class="unit two-fifths">
				<b>Contact</b>
				
				<ul class="contact-list">
					<li>Webgroup Media, LLC.<br>PO BOX 1206<br>Brea, CA 92822 USA</li>
					<li><br></li>
					<li><a href="tel:+1-714-671-9090">+1.714.671.9090</a></li>
					<li><br></li>
					<li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
				</ul>
			</div>

			<div class="unit one-fifth">
				<ul class="social-media-list">
					<b>Follow</b>
					
					{% if site.github_username %}
					<li>
						{% include icons/icon-github.html username=site.github_username %}
					</li>
					{% endif %}

					{% if site.facebook_username %}
					<li>
						{% include icons/icon-facebook.html username=site.facebook_username %}
					</li>
					{% endif %}

					{% if site.twitter_username %}
					<li>
						{% include icons/icon-twitter.html username=site.twitter_username %}
					</li>
					{% endif %}
					
					<li>
						{% include icons/icon-linkedin.html username="Cerb" %}
					</li>
					
					<li>
						{% include icons/icon-rss.html %}
					</li>
				</ul>
				
				<ul class="extra-links">
					<li>
						<a href="/license">License</a>
					</li>
					<li>
						<a href="/privacy">Privacy</a>
					</li>
				</ul>
			</div>

			<div class="unit two-fifths">
				<b>About</b>
				<p>
					We're a commercial open source company that was founded in 2001 to build web-based software. 
					We're lean, profitable, and organically bootstrapped. We share 100% of our source code due 
					to a fundamental belief that bits and bytes have less value than experience and mutually advantageous, 
					long-term relationships.
				</p>
			</div>
			
			<div class="unit whole">
				Cerb&trade;, Devblocks&trade; &copy; Copyright {{ site.copyright }} by {{ site.company }}
			</div>

		</div>
		
	</div>

</footer>

{% comment %}<script src='https://www.google.com/recaptcha/api.js'></script>{% endcomment %}
<script src="{{ "/assets/js/prism.js" | prepend: site.baseurl }}"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91779852-1', 'auto');
  ga('send', 'pageview');

</script>
