<header class="wip">
	This new Cerb project website is <b>currently under development</b>.<br>
	When completed, it will combine the <a href="http://cerbweb.com">previous website</a>, <a href="http://cerbweb.com/book/">documentation</a>, <a href="http://cerbweb.com/support">Support Center</a>, and <a href="http://wiki.cerbweb.com">wiki</a>.
</header>

<header class="top-navigation" role="banner">
<div class="wrapper">
	<nav class="mobile-nav show-on-mobiles">
		{% include primary-nav-items.html %}
	</nav>
	<div class="grid">
		<div class="unit one-fourth center-on-mobiles">
			<h1>
				<a href="/">
					<span class="sr-only">Cerb</span>
					<img src="/assets/cerb_logo.png" alt="Cerb Logo">
				</a>
			</h1>
		</div>
		<nav class="main-nav unit three-fourths hide-on-mobiles">
			{% include primary-nav-items.html %}
		</nav>
	</div>
</div>
</header>