<ul>
	<li class="{% if page.url == '/' %}current{% endif %}">
		<a href="/">About</a>
	</li>
	<li class="{% if page.url == '/pricing/' %}current{% endif %}">
		<a href="/pricing/">Pricing</a>
	</li>
	<li class="{% if page.url contains '/docs/' or page.url contains '/resources/' or page.url contains '/guides/' or page.url contains '/packages/' %}current{% endif %}">
		<a href="/resources/">Learn</a>
	</li>
	<li class="{% if page.url == '/clients/' %}current{% endif %}">
		<a href="/clients/">Testimonials</a>
	</li>
	<li class="{% if page.url contains '/blog/' or page.url contains '/releases/' %}current{% endif %}">
		<a href="/blog/">Blog</a>
	</li>
	{% comment %}
	<li class="{% if page.url contains '/contact/' %}current{% endif %}">
		<a href="/contact/">Contact</a>
	</li>
	{% endcomment %}
</ul>