<div class="feature half">
    <div class="align-left">
        <h2>Self-hosted</h2>
        <ul>
            <li>Your first self-hosted seat is <u>free forever</u> with no license or registration required</li>
            <li>Installation takes less than 5 minutes</li>
            <li>Add seats as your team grows</li>
            <li>Every member of your team can run free local copies of Cerb for testing, development, and staging</li>
            <li>Downgrade to a community license from self-hosted or Cerb Cloud at any time and retain permanent free access to your data</li>
            <li>Cerb launches a guided tutorial on your first login</li>
            <li>Switch seamlessly to Cerb Cloud at any time</li>
        </ul>
        <a href="/docs/installation/docker/" class="cerb-button">
            Read the installation guide
        </a>
    </div>
</div>

<div class="feature half">
    <div class="align-left">
        <h2>Cerb Cloud</h2>
        <ul>
            <li>Highly available, secure, monitored, and scalable as a fully managed service</li>
            <li>No time-limit as long as you're active, and no credit card is required</li>
            <li>Deploy to secure servers in the United States, Europe, or Asia-Pacific</li>
            <li>Compliant with EU-U.S. Data Privacy Framework (DPF) and GDPR</li>
            <li>Automated, redundant, point-in-time backups with data recovery</li>
            <li>Cerb Cloud SMTP for highly-deliverable, high-volume outgoing mail with SPF, DKIM, DMARC (or use your own mail server)</li>
            <li>Cerb Cloud MX for instant delivery of inbound mail (or check any POP3/IMAP mailboxes)</li>
            <li>Includes hosting for unlimited community portals (conversational bots, Support Centers)</li>
            <li>Optionally bring your own domain name (e.g. support.example.com)</li>
            <li>Switch seamlessly to self-hosted at any time</li>
        </ul>
        <button type="button" class="cerb-button" data-cerb-interaction="signup">
            Start a free Cerb Cloud trial
        </button>
    </div>
</div>