<div style="display:none;">
	<div class="grid feature">
		<div id="cerb-testimonials">
			<div class="cerb-testimonial">
				<div style="font-size:0.9em;min-width:335px;">
					<div>
						<span class="client-logo"></span>
						<q class="cerb-testimonial-quote">{{ testimonial.quote }}</q>
						- <b class="cerb-testimonial-author"></b>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
	try {
		let $testimonial_container = document.querySelector('#cerb-testimonials .cerb-testimonial');
		let $client_logo = $testimonial_container.querySelector('.client-logo');

		let testimonials = [
			{% assign testimonials = site.data.testimonials | where: "featured", true %}
			{% for testimonial in testimonials %}
			{
				"client": {{testimonial.client|jsonify}},
				"quote": {{testimonial.quote|normalize_whitespace|jsonify}},
				"author": {{testimonial.author|jsonify}}
			},
			{% endfor %}
		];

		let showRandomTestimonial = function() {
			let len = testimonials.length;
			let r = Math.floor(Math.random()*len);
			$testimonial_container.querySelector('.cerb-testimonial-quote').innerHTML = testimonials[r]['quote'];
			$testimonial_container.querySelector('.cerb-testimonial-author').innerHTML = testimonials[r]['author'];
			$client_logo.className = '';
			$client_logo.classList.add('client-logo', 'client-' + testimonials[r]['client']);
			$testimonial_container.parentElement.parentElement.parentElement.style.display = 'block';
		};

		showRandomTestimonial();

		//setInterval(showRandomTestimonial, 30000);
	} catch(e) {}
});
</script>