---
title: How-to Guides
excerpt: Learn Cerb with step-by-step how-to guides.
summary: This webpage provides comprehensive how-to guides for various functionalities
  and integrations within Cerb. It covers configuring and using the REST API with
  PHP and Python, setting up automations for tasks like recurring task creation and
  ticket assignment, and utilizing conversational bots for website interactions and
  email management. The page also details the integration of Cerb with numerous external
  services such as Amazon Web Services, Dropbox, Facebook, GitHub, Google, Microsoft
  Azure, Salesforce, Slack, and more, enabling functionalities like speech synthesis,
  single sign-on, and data synchronization. Additionally, it includes instructions
  for installing Cerb on different operating systems, creating and managing dashboards,
  project boards, and records, as well as implementing security measures like two-factor
  authentication. The guides also cover localization, machine learning applications
  like image generation and question answering, mail encryption and privacy, and the
  use of webhooks for custom API development and form submissions.
layout: page
permalink: /resources/guides/
redirect_from:
- /guides/
jumbotron:
  title: How-to Guides
  tagline: Learn Cerb with step-by-step guides.
  breadcrumbs:
  - label: Resources
    url: /resources/
---

<ul>
    {% assign topics = site.guides | sort: 'id' | group_by: 'topic' %}
    {% for topic in topics %}
    <li><a href="#{{ topic.name | slugify }}">{{ topic.name }}</a></li>
    {% endfor %}
</ul>

<div class="docs-index">
	{% assign topics = site.guides | sort: 'id' | group_by: 'topic' %}
	
	{% for topic in topics %}
	<div style="margin:10px 0 30px 0;">
		<h1 id="{{ topic.name | slugify }}">{{ topic.name }}</h1>

		{% assign items = topic.items | sort: 'title' %}
		<div style="column-count:2;column-width:400px;">
		{% for guide in items %}
			<div class="docs-page" style="break-inside:avoid;page-break-inside: avoid;-webkit-column-break-inside:avoid;">
				<a href="{{ guide.url }}" style="font-size:110%;font-weight:600;color:rgb(60,60,60);">{{ guide.title }}</a>
				<div style="font-size:90%;font-weight:200;">{{guide.excerpt}}</div>
			</div>
		{% endfor %}
		</div>
	</div>
	{% endfor %}
</div>

{% include testimonials.html %}