---
layout: page
title: "How-to Guides"
excerpt: Master Cerb with step-by-step how-to guides
permalink: /resources/guides/
redirect_from:
  - /guides/
  - /cookbook/
  - /integrations/
jumbotron:
  title: How-to Guides
  tagline: Master Cerb with step-by-step how-to guides.
  breadcrumbs:
  - 
    label: Resources
    url: /resources/
---

{% include testimonials.html %}

<div class="integrations" style="margin-left:20px;column-width:400px;">
	{% assign topics = site.guides | sort: 'id' | group_by: 'topic' %}
	
	{% for topic in topics %}
		<h1 id="{{ topic.name | slugify }}">{{ topic.name }}</h1>
		
		{% if topic.name == 'Bots' or topic.name == 'Dashboards' or topic.name == 'Integrations' or topic.name == 'Developers' or topic.name == 'Mail' %}
			{% assign subtopics = topic.items | sort: 'id' | group_by: 'subtopic' %}
		
			<div style="margin-left:15px;">
			{% assign subs = subtopics|sort:'name' %}
			{% for subtopic in subs %}
			<div style="break-inside:avoid;page-break-inside: avoid;-webkit-column-break-inside: avoid;">
				<b id="{{ topic.name | append: '-' | append: subtopic.name | slugify }}">{{ subtopic.name }}</b>
		
				<ul class="articles">
				{% assign items = subtopic.items | sort: 'title' %}
				{% for guide in items %}
					<li>
						<a href="{{ guide.url }}">{{ guide.title }}</a>
					</li>
				{% endfor %}
				</ul>
			</div>
			{% endfor %}
			</div>
		
		{% else %}
			<ul class="articles">
			{% assign items = topic.items | sort: 'title' %}
			{% for guide in items %}
				<li>
					<a href="{{ guide.url }}">{{ guide.title }}</a>
				</li>
			{% endfor %}
			</ul>
		{% endif %}
		
	{% endfor %}
</div>
