---
title: Tips & Tricks
excerpt: This page provides a comprehensive list of tips and tricks for optimizing
  the use of Cerb, a collaborative software platform.
summary: This page provides a comprehensive list of tips and tricks for optimizing
  the use of Cerb, a collaborative software platform. It covers a variety of functionalities,
  including archiving inbound mail, using autocomplete for email addresses, building
  personalized worklists, and managing server-side cache. Users can learn how to efficiently
  handle attachments, enable default reports, and find senders from the same email
  host. The page also offers guidance on administrative tasks such as impersonating
  other workers, managing worklist sorting, and sharing private workspaces. Additional
  tips include quick actions for managing calendar events, deleting quoted text, and
  recovering administrator accounts. The page emphasizes enhancing user experience
  through shortcuts, personalized snippets, and reviewing bot behaviors.
layout: page
permalink: /resources/tips/
redirect_from:
- /tips/
jumbotron:
  title: Tips &amp; Tricks
  breadcrumbs:
  - label: Resources
    url: /resources/
---

<div class="integrations" style="column-count:2;column-width:500px;margin-bottom:20px;">
	<ul class="articles">

	{% assign tips = site.tips | sort: 'title' %}
	{% for tip in tips %}
	<li style="break-inside:avoid;page-break-inside: avoid;-webkit-column-break-inside: avoid;">
		<a href="{{ tip.url }}" style="font-size:110%;font-weight:600;color:rgb(60,60,60);">{{ tip.title }}</a>
		<div style="font-size:90%;font-weight:200;">
		    {{tip.excerpt}}
        </div>
	</li>
	{% endfor %}

	</ul>
</div>

{% include testimonials.html %}