---
title: Workflows
excerpt: Workflows are templates with versioned updates that keep a related set of
  records in sync between multiple environments.
summary: This page outlines various workflow templates in Cerb designed to synchronize
  records across different environments such as development, staging, and production.
  Key features include automated email notifications for @mentions, ticket assignment
  based on priority, and automatic responses for new tickets. It also covers tools
  for capturing user feedback, managing custom records for academic institutions,
  and conducting customer satisfaction surveys. Additional functionalities include
  parsing DMARC reports, generating profile images using Amazon Bedrock, geolocating
  IPs with IPstack, and integrating with GitLab for issue tracking. The page also
  details encryption options with PGP, organization assignment by email hostname,
  enforcement of Service Level Agreements, simplified ticket search, Slack notifications,
  and translation services via DeepL. Furthermore, it includes a test custom fieldset
  for development purposes and a requirement for workers to accept Terms of Use before
  logging in.
layout: page
permalink: /resources/workflows/
jumbotron:
  title: Workflows
  tagline: Pre-built templates with versioned updates that keep related records in sync between multiple environments.
  breadcrumbs:
  - label: Resources &raquo;
    url: /resources/
---

<a href="/docs/workflows/">Workflows</a> are templates with versioned updates that keep a related set of records in sync between multiple environments (e.g. dev, staging, production).

<div class="integrations" style="column-count:2;column-width:500px;margin-bottom:20px;">
	{% assign workflows = site.workflows | sort: 'title' %}
	
	<ul class="articles">
	{% for workflow in workflows %}
		<li style="break-inside:avoid;page-break-inside: avoid;-webkit-column-break-inside: avoid;">
			<a href="{{ workflow.url }}">{{ workflow.title }}</a>
			<div>{{ workflow.excerpt }}</div>
		</li>
	{% endfor %}
	</ul>
</div>

{% include testimonials.html %}
