---
layout: page
title: "Pricing"
permalink: /pricing/
redirect_from: /buy/
jumbotron:
  title: Pricing
  tagline: Deploy Cerb in the Cloud or on your own hardware
---

<h2><a href="/cloud">Cerb Cloud</a></h2>

<p>
	<b>Cerb Cloud</b> is a subscription-based service that provides a finely tuned, ready-to-use instance of Cerb in an ideal environment. All you need to do is open a modern web browser, invite your team, and start putting Cerb's tools to work. We'll handle everything else.
</p>

{% include tables/cloud_feature_comparison.html %}

<p>
	<a href="/pricing/cloud">Learn more about Cerb Cloud subscriptions &raquo;</a>
</p>

<br/>

<h2><a href="/pricing/license">Cerb Standalone</a></h2>

<p>
	<b>Cerb Standalone</b> runs on your own hardware. The software requires a web server with PHP 5.3+ and MySQL 5.1+. You are responsible for installation, upgrades, backups, monitoring, tuning, scaling, security, troubleshooting, etc.  The priority support and software updates are provided by annual subscription, but your license will never expire for past versions released during your software updates term.
</p>

{% include tables/standalone_feature_comparison.html %}

<p>
	<a href="/pricing/license">Learn more about Cerb standalone licenses &raquo;</a>
</p>
