<div class="cerb-feature-comparison grid">
	<div class="unit half">
			<div style="display:inline-block;text-align:left;">
				<h1>Pro</h1>
				<div class="price">
					$40/month per seat<br/>
					Your first 3 seats are 50% off<br/>
				</div>
				<div>Features include:</div>
				<ul>
					<li>Everything Cerb has to offer:<br>collaborative workspaces, bot automation, etc</li>
					<li>High availability w/ redundancy</li>
					<li>Automated scaling</li>
					<li>Automated backups</li>
					<li>Mandatory SSL encryption</li>
					<li>Instant delivery of inbound mail</li>
					<li>Highly deliverable outgoing mail</li>
					<li>Custom URL</li>
					<li>Plugin library</li>
					<li>Community portals</li>
					<li>Same business day support</li>
					<li>Email and phone support</li>
				</ul>
			</div>
	</div>
	<div class="unit half">
			<div style="display:inline-block;text-align:left;">
				<h1>Enterprise</h1>
				<div class="price">
						$60/month per seat<br/>
						(minimum of 10 seats)
				</div>
				<div>All Pro features, plus:</div>
				<ul>
					<li>Top-priority 24/7 support</li>
					<li>Database cluster w/ read replicas and instant failover</li>
					<li>Install custom plugins</li>
					<li>Live chat access to developers</li>
				</ul>
			</div>
	</div>
</div>
