<table class="cerb-feature-comparison">
	<tr>
		<td>
			<h1>Startup</h1>
			<div class="price">$20/seat/month</div>
			<div>Features include:</div>
			<ul>
				<li>High availability</li>
				<li>Automated scaling</li>
				<li>Automated backups</li>
				<li>SSL encryption</li>
				<li>Instant inbound mail delivery</li>
				<li>Outgoing mail w/ SPF+DKIM</li>
				<li>Remote mailbox check</li>
				<li>Bots</li>
				<li>Plugin library</li>
				<li>Community portal</li>
				<li>Next business day support</li>
			</ul>
		</td>
		
		<td>
			<h1>Pro</h1>
			<div class="price">$40/seat/month</div>
			<div>All Startup features, plus:</div>
			<ul>
				<li>Same business day priority support</li>
				<li>Webhooks</li>
				<li>API</li>
				<li>Custom URL</li>
				<li>More &amp; faster mailbox checks</li>
				<li>More sender domains</li>
				<li>More community portals</li>
			</ul>
		</td>

		<td>
			<h1>Enterprise</h1>
			<div class="price">$60/seat/month</div>
			<div>All Pro features, plus:</div>
			<ul>
				<li>Same day, top priority support</li>
				<li>Real-time chat w/ developers</li>
				<li>Phone support</li>
				<li>Database cluster w/failover</li>
				<!--<li>Elasticsearch</li>-->
				<li>Custom plugins</li>
				<li>Urgent escalations</li>
				<li>Discounted technical services</li>
				<li>(A minimum of 10 seats of required)</li>
			</ul>
		</td>
	</tr>
</table>