<table class="cerb-feature-comparison">
	<tr>
		<td valign="top" align="center">
			<div style="display:inline-block;text-align:left;">
				<h1>Pro</h1>
				<div class="price">$40/seat/month</div>
				<div>Features include:</div>
				<ul>
					<li>High availability</li>
					<li>Automated scaling</li>
					<li>Automated backups</li>
					<li>SSL encryption</li>
					<li>Instant inbound mail delivery</li>
					<li>Outgoing mail w/ SPF+DKIM</li>
					<li>Custom URL</li>
					<li>Same business day support</li>
					<li>Phone support</li>
				</ul>
			</div>
		</td>
		<td valign="top" align="center">
			<div style="display:inline-block;text-align:left;">
				<h1>Enterprise</h1>
				<div class="price">$60/seat/month</div>
				<div>All Pro features, plus:</div>
				<ul>
					<li>Same day, top priority support</li>
					<li>Database cluster w/ failover</li>
					<!--<li>Elasticsearch</li>-->
					<li>Custom plugins</li>
					<li>Real-time chat w/ developers</li>
					<li>Urgent escalations</li>
					<li><i>Requires at least 10 seats</i></li>
				</ul>
			</div>
		</td>
	</tr>
</table>