<div class="grid">
    <div class="unit one-third">
        <h1>
            <a data-cerb-interaction="signup" style="font-weight:bold;color:inherit;cursor:pointer;text-decoration:underline;">Community</a>
        </h1>

        <div style="font-size:125%;font-weight:bold;">Free</div>
        <ul>
            <li>Your first self-hosted seat is free forever with no license or registration required.</li>
            <li>Add seats as your team grows.</li>
            <li>Every member of your team can run free local copies of Cerb for testing, development, and staging.</li>
            <li>Downgrade to a community license from self-hosted or Cerb Cloud at any time and retain permanent free access to your data.</li>
            <li>Academic institutions, non-profits, charities, and open source projects are eligible for additional seats or discounts.</li>
        </ul>
    </div>

    <div class="unit one-third">
        <h1>
            <a data-cerb-interaction="signup" style="font-weight:bold;color:inherit;cursor:pointer;text-decoration:underline;">Self-hosted</a>
        </h1>

        <div style="font-size:125%;font-weight:bold;">$35/seat/month</div>
        <ul>
            <li>Self-hosted on your choice of infrastructure.</li>
            <li>You're responsible for installation, upgrades, scaling, monitoring, security, and backups.</li>
            <li>Same business day priority support directly from Cerb's developers.</li>
            <li>Instant access to the latest stable version.</li>
            <li>Your license never expires for versions released during your subscription.</li>
            <li>Switch to annual billing and receive 2 months for free per year.</li>
        </ul>
    </div>

    <div class="unit one-third">
        <h1 style="font-weight:bold;">
            <a data-cerb-interaction="signup" style="font-weight:bold;color:inherit;cursor:pointer;text-decoration:underline;">Cerb Cloud</a>
        </h1>

        <div>
            <span style="font-size:125%;font-weight:bold;">$40/seat/month</span>
            <ul>
                <li>Start with a free trial and no time-limit as long as you're active.</li>
                <li>Highly available, secure, monitored, and scalable as a fully managed service.</li>
                <li>Same business day priority support directly from Cerb's developers.</li>
                <li>Instant access to the latest stable version with same-day urgent bug fixes.</li>
                <li>Automated, redundant, point-in-time backups with data recovery.</li>
                <li>Includes Cerb Cloud SMTP service for highly deliverable, high-volume outgoing mail (SPF, DKIM, DMARC).</li>
                <li>Includes Cerb Cloud MX service for instant delivery of inbound mail (third-party mailboxes are supported but not required).</li>
                <li>Includes hosting for unlimited community portals (conversational bots, Support Centers).</li>
                <li>Optionally bring your own domain name (e.g. support.example.com).</li>
                <li>Switch to annual billing and receive 2 months for free per year.</li>
            </ul>
        </div>
    </div>
</div>