<div class="grid">
    <div class="unit half">
        <h1>
            Self-Hosted
        </h1>

        <div style="font-size:125%;font-weight:bold;">
            Free
        </div>
        <ul>
            <li>Your first self-hosted seat is free forever with no license or registration required. Register for a free 3-seat license for the current version.</li>
            <li>Self-hosted on your choice of infrastructure. We'll help you get installed.</li>
            <li>You're responsible for installation, upgrades, scaling, monitoring, security, and backups.</li>
            <li>Every member of your team can run free local copies of Cerb for testing, development, and staging.</li>
        </ul>

        <div style="font-size:125%;font-weight:bold;">
            $40/seat/month
        </div>
        <ul>
            <li>Your license never expires for versions released during your subscription.</li>
            <li>Academic institutions, non-profits, charities, and open source projects are eligible for additional seats or discounts.</li>
            <li>Downgrade to a community license from self-hosted or Cerb Cloud at any time and retain permanent free access to your data.</li>
            <li>Optional real-time <a href="/enterprise-support/">enterprise support</a> is available.</li>
        </ul>

        <a data-cerb-interaction="signup" class="cerb-button">Register for a free 3-seat license</a>
    </div>

    <div class="unit half">
        <h1 style="font-weight:bold;">
            <a href="/cloud/" style="color:inherit;font-weight:bold;text-decoration:underline;">Cerb Cloud</a>
        </h1>

        <div>
            <span style="font-size:125%;font-weight:bold;">
                $40/seat/month
            </span>
            <ul>
                <li>Start with a free trial and no time-limit as long as you're active.</li>
                <li>Highly available, secure, monitored, and scalable as a fully managed service.</li>
                <li>Instant access to the latest stable version with same-day urgent bug fixes.</li>
                <li>Automated, redundant, point-in-time backups with data recovery.</li>
                <li>Includes optional Cerb Cloud SMTP service for highly deliverable, high-volume outgoing mail (SPF, DKIM, DMARC).</li>
                <li>Includes optional Cerb Cloud MX service for instant delivery of inbound mail (POP3/IMAP is supported but not required).</li>
                <li>Includes hosting for unlimited community portals (conversational bots, Support Centers).</li>
                <li>Optionally bring your own domain name (e.g. support.example.com).</li>
            </ul>

            <a data-cerb-interaction="signup" class="cerb-button">Start free trial</a>
        </div>
    </div>
</div>