<table class="cerb-feature-comparison">
	<tr>
		<td>
			<h1>Community</h1>
			<div class="price">free for 3 seats</div>
			<br>
			<div>Full functionality, with limitations:</div>
			<ul>
				<li>Low priority email support</li>
				<li>No ongoing software updates</li>
				<li>One free renewal per 12 months</li>
			</ul>
		</td>
		
		<td>
			<h1>Pro</h1>
			<div class="price">$300/seat</div>
			<br>
			<div>Full functionality, plus:</div>
			<ul>
				<li>1 year of priority email and phone support</li>
				<li>1 year of ongoing software updates</li>
				<li>10% timely renewal discount</li>
			</ul>
		</td>
	</tr>
</table>