<table class="cerb-feature-comparison" style="margin-top:30px;">
	<tr>
		<td>
			<h1>Starter</h1>
			<div class="price">$0 for 3 seats</div>
			<div>Full functionality, with limitations:</div>
			<ul>
				<li>Low-priority email support</li>
				<li>No software updates</li>
				<li>One free renewal per 12 months</li>
			</ul>
		</td>
		
		<td>
			<h1>Pro</h1>
			<div class="price">$25/month per seat (billed annually)</div>
			<div>Full functionality, plus:</div>
			<ul>
				<li>1 year of <b>software updates</b></li>
				<li>1 year of <b>priority support</b> by email and phone</li>
				<li>Hands-on assistance</li>
				<li>Priority bug fixes and feature requests</li>
				<li><b>10% discount</b> for timely renewals</li>
				<li>Academic, non-profit, and volume discounts</li>
			</ul>
		</td>
	</tr>
</table>