---
layout: default
jumbotron:
  breadcrumbs:
    -
      label: Resources &raquo;
      url: /resources/
    -
      label: Automation Cookbook &raquo;
      url: /resources/automation-cookbook/
---

<section class="automation-cookbook">
	<article>
        {% if page.social_image_url %}
		<div class="cerb-screenshot">
			<img src="{{ page.social_image_url }}" class="screenshot no-border">
		</div>
        {% endif %}

		{{ content }}
	</article>
</section>

{% if page.next or page.previous %}
{% include prev_next.html %}
{% endif %}
