<!DOCTYPE html>
<html>

	{% include head.html %}

	<body>

		{% include header.html %}
		
		{% if page.jumbotron and page.jumbotron.title %}
		<header class="jumbotron {{page.jumbotron.style}}">
			<div class="wrapper">
				{% for crumb in page.jumbotron.breadcrumbs %}
					<p class="jumbotron-breadcrumbs">
						{% if crumb.url %}
						<a href="{{ crumb.url }}">{{ crumb.label }}</a>
						{% else %}
						{{ crumb.label }}
						{% endif %}
					</p>
				{% endfor %}
				
				<h1>{{ page.jumbotron.title }}</h1>
				
				{% if page.jumbotron.tagline %}
					<p>{{page.jumbotron.tagline}}</p>
				{% endif %}
			</div>
		</header>
		{% endif %}
		
		<div class="page-content">
			<div class="wrapper">
				{{ content }}
			</div>
		</div>

		{% include footer.html %}

	</body>

</html>
