<!DOCTYPE html>
<html lang="en">

	{% include head.html %}

	<body>
		{% include header.html %}

		<div class="page-content">
			{% if page.jumbotron %}
			<div class="jumbotron {{page.jumbotron.style}}">
				<div class="wrapper">
					{% assign breadcrumbs = page.jumbotron.breadcrumbs | default: layout.jumbotron.breadcrumbs %}
					{% for crumb in breadcrumbs %}
					<p class="jumbotron-breadcrumbs">
						{% if crumb.url %}
						<a href="{{ crumb.url }}">{{ crumb.label }}</a>
						{% else %}
						<span style="font-weight:400;">{{ crumb.label }}</span>
						{% endif %}
					</p>
					{% endfor %}

					<h1>{{ page.jumbotron.title | default: page.title }}</h1>

					{% if page.jumbotron.tagline or layout.jumbotron.tagline %}
					<p>{{ page.jumbotron.tagline | default: layout.jumbotron.tagline }}</p>
					{% endif %}
				</div>
			</div>
			{% endif %}

			<div class="wrapper">
				{{ content }}
			</div>
		</div>

		{% include footer.html %}

	</body>

</html>
