---
layout: default
title: "Workflow Examples"
permalink: /examples/
---

	<section class="integration">
		<div class="grid">

			<div class="unit four-fifths">
				<article>
					{{ content }}
				</article>
			</div>

			<div class="unit one-fifth">
				<aside>
					<ul>
					{% for integration in site.integrations %}
						{% if integration.integrate.state != "draft" %}
						<li {% if page.url contains integration.url %}class="current"{% endif %}><a href="{{ integration.url }}">{{ integration.title }}</a></li>
						{% endif %}
					{% endfor %}
					</ul>
				</aside>
			</div>

			<div class="clear"></div>

		</div>
	</section>