<script src='https://www.google.com/recaptcha/api.js'></script>

<form id="frmCerbCloudTrial" class="cerb-form" action="javascript:;" method="POST" onsubmit="return false;" style="margin-bottom:1.5em;">
	<input type="hidden" name="deploy" value="cloud">
	<input type="hidden" name="g-recaptcha-response" value="">
	
	<fieldset>
		<legend style="color:black;">Create a free Cerb Cloud account</legend>
	
		<label for="org">Organization:</label>
		<input type="text" name="org" value="" placeholder="Example, Inc." autocomplete="off" spellcheck="false">
	
		<label for="email">Email Address:</label>
		<input type="text" name="email" value="" placeholder="you@example.com" autocomplete="off" spellcheck="false">
	
		<label for="subdomain">Preferred URL:</label>
		<span class="dim">https://</span><input type="text" class="form-inline" name="subdomain" placeholder="example" maxlength="16" size="20" autocomplete="off" spellcheck="false"><span class="dim">.cerb.me</span>
		
		<div class="g-recaptcha" data-sitekey="6LeOPh0TAAAAANiEBFZLURt43IkCTUMOPUSMoxL9"></div>
		
		<div style="margin-top:20px;">
			<input type="button" class="submit" value="Start my free trial">
			<div class="status"></div>
			
			<div>
				<small>The free trial is provided for at least 30 days.  We'll keep it around for as long as you're using it. No payment details are required to get started. You won't receive an invoice from us unless you request it.</small>
			</div>
		</div>
	</fieldset>
</form>

<script type="text/javascript">
$(function() {
	var $frm = $('#frmCerbCloudTrial');
	
	$frm.find('input.submit').click(function() {
		// [TODO] Spinner
		
		// Captcha
		$frm.find('input:hidden[name=g-recaptcha-response]').val(grecaptcha.getResponse());
		
		$.ajax({
			method: 'POST',
			url: 'https://cerb.official.support/forms/cloud/signup',
			crossDomain: true,
			dataType: 'json',
			data: $frm.serialize(),
			success: function(res) {
				if(res && res.error) {
					grecaptcha.reset();
					
					var $warn = $('<div class="warning"/>').text(res.error);
					$frm.find('div.status').html($warn);
					return;
				}
				
				if(res && res.success) {
					var $success = $('<div class="success"/>').text(res.success);
					$frm.find('div.status').html($success);
					$frm.find('input.submit').hide();
				}
			},
			error: function(e) {
				grecaptcha.reset();
				
				var $warn = $('<div class="error"/>').text("An unexpected error occurred. Please try again later.");
				$frm.find('div.status').html($warn);
				return;
			}
		})
	});
});
</script>