<form id="frmCerbCloudTrial" class="cerb-form" action="javascript:;" method="POST" onsubmit="return false;">
	<fieldset>
		<legend>Start your free Cerb Cloud trial</legend>
	
		<label for="org">Organization:</label>
		<input type="text" name="org" value="" placeholder="Example, Inc." autocomplete="off" spellcheck="false">
	
		<label for="email">Email Address:</label>
		<input type="text" name="email" value="" placeholder="you@example.com" autocomplete="off" spellcheck="false">
	
		<label for="subdomain">Preferred URL:</label>
		<span class="dim">https://</span><input type="text" class="form-inline" name="subdomain" placeholder="example" maxlength="16" size="20" autocomplete="off" spellcheck="false"><span class="dim">.cerb.me</span>
		<div>
			<input type="button" class="submit" value="Confirm">
			<div class="status"></div>
		</div>
	</fieldset>
</form>

<script type="text/javascript">
$(function() {
	var $frm = $('#frmCerbCloudTrial');
	
	$frm.find('input.submit').click(function() {
		// [TODO] Spinner
		
		})
	});
});
</script>